.Footer {
    background-color: black;
    color: white;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 0;
}
.Footer h2 {
    font-size: 2rem;
    border-bottom: 1px solid #333;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
}
.Footer p {
    padding-top: 1rem;
}
.footer{
    color: white !important;
}
/* Mobile */
@media only screen and (max-width: 480px) {
    .Footer h2 {
        font-size: 1.5rem;
   }
    .Footer p {
        font-size: 12px;
   }
}
